.footer-logo,
.connect,
.hookup-footer,
.footer-title,
.social__item {
  @media screen and (max-width: 768px) {
    @include center();
  }
}

.subscription-footer {
  @media screen and (max-width: 1200px) {
    @include center();
  }
}

.address {
  margin-top: 20px;
  margin-bottom: 60px;
  font-style: inherit;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.contacts-item:not(:first-child) {
  margin-top: 10px;
}

.connect {
  transition-property: var(--hero-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include font(14px, 1.71, 0.03em);
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.hookup-footer {
  transition-property: var(--hero-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-style: normal;
  color: var(--text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
