.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--hero-color);
  margin-left: auto;
  margin-right: auto;
}
.footer-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer-container:not(:first-child) {
  @media screen and (min-width: 1200px) {
    margin-left: 75px;
  }
}
.footer-container {
  display: block;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  @media screen and (min-width: 768px) {
    @include center();
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.footer-container-social {
  @media screen and (max-width: 1200px) {
    padding-top: 5px;
  }
}

.general {
  @media screen and (min-width: 768px) {
    padding-left: 75px;
    padding-right: 90px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    padding-left: 15px;
    padding-right: 0;
  }
}

.hookup-footer {
  @media screen and (min-width: 768px) {
    @include center();
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.footer-title {
  margin-bottom: 20px;

  font-size: 14px;
  text-transform: uppercase;
  color: var(--title-color);

  @media screen and (min-width: 768px) {
    @include center();
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.social__list-footer {
  @media screen and (max-width: 1200px) {
    margin-bottom: 100px;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }
}
