.header {
  background-color: var(--title-color);

  border-bottom: 1px solid var(--line-color);
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  @media screen and (max-width: 768px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.menu__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}
.hookup {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    align-items: center;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
}

.hookup__item:not(:first-child) {
  margin-top: 10px;
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
    margin-top: 0px;
  }
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu__link,
.hookup__link {
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  // padding-top: 32px;
  // padding-bottom: 32px;
  align-items: center;

  @include font(12px, 1.16, 0.02em);
  font-weight: 500;
  color: var(--secondary-color);

  @media screen and (min-width: 1200px) {
    @include font(14px, 1.14, 0.02em);
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.hookup__link {
  font-style: normal;

  color: var(--text-color);
  fill: var(--text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.hookup__link-icon {
  display: flex;
  font-style: inherit;
  margin-right: 10px;
}

.menu__link-current {
  color: var(--accent-color);

  &::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
